{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/css/uikit.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    

    {% comment %}Alertify Js (CSS) {% endcomment %}
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    {% comment %}Autocomplete Jquery{% endcomment %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    
    <style>
        *{
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
        {% include 'store/inc/navbar.html' %}
        {% block content %}

        {% endblock content %}

        {% comment %}Live Chat {% endcomment %}
        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/62ee56d137898912e96192eb/1g9pg693j';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
        <!--End of Tawk.to Script-->

        {% comment %} Jquery {% endcomment %}
        <script src="{% static 'js/jquery-3.6.0.min.js' %}"> </script>

        {% comment %} Autocomplete Jquery{% endcomment %}
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
        <script>
            var availableTags = [];

            $.ajax({
              method: "GET",
              url: "/product-list",
              success: function (response) {
                startAutocomplete(response)
              }
            });
            function startAutocomplete(availableTags)
            {
              $( '#searchproduct' ).autocomplete({
                source: availableTags
              });
            };
          </script>

        {% comment %} Whats App Chat{% endcomment %}
        <div class="">
          <a href="https://wa.me/+543413244443?text=I'm%20interested%20in%20to%20chat" class="whatsapp-chat">
            <img src="{% static 'img/whatsapp-logo-11.png' %}" alt="whatsapp" width="60px">
          </a>
        </div>

        {% comment %} UiKit Js {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.1/dist/js/uikit-icons.min.js"></script>

        {% comment %} Custom Js {% endcomment %}
        <script src="{% static 'js/custom.js' %}"> </script>

        {% comment %} Alertify Js {% endcomment %}
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

        <script>
          alertify.set('notifier','position', 'top-right');

          {% for msg in messages %}
              alertify.success('{{ msg }}') ;
          {% endfor %}
        </script>

        {% block scripts %}

        {% endblock scripts %}
</body>
</html>