{% extends 'store/layout/main.html' %}

{% block content %}
    {% include 'store/inc/slider.html' %}

    <div class="uk-container uk-container-large">
        <div class="uk-text-left uk-margin-medium-top" > 
            <h1 class="uk-heading-divider">Trending Products</h1>
        </div>
        <div uk-slider>

            <div class="uk-position-relative uk-margin-medium-top">
        
                <div class="uk-slider-container" >
                    <ul class="uk-slider-items uk-child-width-1-4@m" uk-grid-small>
                    {% for item in trending_products %}
                        <li>
                            <div class="uk-card uk-card-default uk-card-body uk-animation-fade uk-card-hover" style="width:320px;max-height:600px">
                                {% if item.trending %}
                                    <div class="uk-card-badge uk-label">Trending</div>
                                {% endif %}
                                <div class="uk-card-media-top">
                                    <img src="{{item.product_image.url}}" style="widht:400px;height:150px" alt="">
                                </div>
                                <div class="uk-card-body uk-text-center">
                                    <p class="uk-text-default">{{item.name}}</p>
                                    <h3 class="uk-card-title uk-text-bold uk-margin-remove">${{item.selling_price | stringformat:'d'}}</h3>
                                    <a href="{% url 'ProductView' item.category.slug item.slug %}">
                                        <button class="uk-button uk-button-primary uk-text-center"><span uk-icon="icon: info"></span> Info</button>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
        
                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
        
                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>

        <div class="uk-text-left uk-margin-medium-top" > 
            <h1 class="uk-heading-divider">Special Offers</h1>
        </div>
        <div uk-slider>

            <div class="uk-position-relative uk-margin-medium-top">
        
                <div class="uk-slider-container" >
                    <ul class="uk-slider-items uk-child-width-1-4@m" uk-grid-small>
                    {% for item in hot_products %}
                        <li>
                            <div class="uk-card uk-card-default uk-card-body uk-animation-fade uk-card-hover" style="width:320px;max-height:600px">
                                {% if item.trending %}
                                    <div class="uk-card-badge uk-label-danger">Hot</div>
                                {% endif %}
                                <div class="uk-card-media-top">
                                    <img src="{{item.product_image.url}}" style="widht:400px;height:200px" alt="">
                                </div>
                                <div class="uk-card-body uk-text-center">
                                    <p class="uk-text-default">{{item.name}}</p>
                                    <p class="uk-text-default">$<s>{{item.original_price | stringformat:'d'}}</s></p>
                                    <h3 class="uk-card-title uk-text-bold uk-margin-remove">${{item.selling_price | stringformat:'d'}}</h3>
                                    <a href="{% url 'ProductView' item.category.slug item.slug %}">
                                        <button class="uk-button uk-button-primary uk-text-center"><span uk-icon="icon: info"></span> Info</button>
                                    </a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
        
                <div class="uk-hidden@s uk-light">
                    <a class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
        
                <div class="uk-visible@s">
                    <a class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
                </div>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>
        
    </div>
{% endblock content %}